@import '../node_modules/basiclightbox/src/styles/main.scss';
// $basicLightbox__background: rgba(0, 0, 0, 0.8); // Background color
// $basicLightbox__zIndex: 1000; // Stack order
// $basicLightbox__duration: 0.4s; // Transition duration
// $basicLightbox__timing: ease; // Transition timing

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

img {
  display: block;
  max-width: 100%;
  height: 200px;
}

.is-hiden {
  display: none;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  width: 1200px;
  padding: 0px;
  margin: 20px auto;
  justify-content: space-between;
}

.photo-card {
  text-align: center;
  width: 25%;
  padding: 5px;

  img {
    width: auto;
  }
}

.stats {
  display: flex;
  flex-wrap: wrap;
  p {
    width: 50%;
  }
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
}

input {
  margin-left: 50%;
  transform: translateX(-50%);
}

button {
  margin-left: 50%;
  transform: translateX(-50%);
}
